# python==3.10.12

## core dependencies version locked
llama-index-core==0.12.22
pydantic==2.8.0
--extra-index-url https://download.pytorch.org/whl/cpu 
torch==2.3.0+cpu # cuda-free environment
transformers>=4.49.0
sentence-transformers==3.4.1
qdrant-client==1.13.2 #qdrant-server==1.13.2
numpy==1.26.4
llama-index-vector-stores-qdrant==0.4.3

## other dependencies without version control

### utils
python-dotenv
loguru
singleton_decorator

### ml&nlp&ra
accelerate
pandas
tiktoken
openai
jieba
llama-index-embeddings-huggingface
bm25s
rank_bm25
llmlingua

### web

playwright # 使用内置浏览器时，需要先执行playwright install chromium
fastapi
uvicorn
beautifulsoup4

### database
mysql-connector-python


