# 基础
loguru
singleton_decorator
tqdm

# 服务器
fastapi
uvicorn[standard]
pydantic
wechatpy
cryptography
tiktoken
openai
httpx
tiktoken
dulwich

#数据库
mysql-connector-python==8.0.32

# 爬虫
requests
playwright
pytz
