# 核心依赖
fastapi
uvicorn[standard]
python-dotenv
pydantic
mysql-connector-python
loguru
requests
singleton_decorator
wechatpy
# 数据库相关
# sqlalchemy
# aiomysql

# 数据处理
# pytz
# python-dateutil
# pdfplumber
# PyPDF2


# 安全认证
# python-multipart
# pyopenssl
cryptography

# 其他工具
# chardet
# python-slugify
# pydub 