# 项目依赖
psycopg2-binary>=2.9.6
tqdm>=4.64.0
tenacity>=8.2.2
python-dotenv>=1.0.0
python-dateutil>=2.8.2

# 基础依赖
loguru>=0.7.2
selenium>=4.9.1
requests>=2.31.0
pdfplumber>=0.10.3
PyPDF2>=3.0.1
pytz>=2024.1

# 其他
beautifulsoup4>=4.12.2  # 根据web搜索结果添加的依赖 